@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba(66, 0, 44, 0.938);
  margin: 50px 50px;
  padding: 20px;
}
.form {
  min-width: 400px;
  flex: 1;
  text-align: center;
  padding: 30px;
  order: 5;
}
.form__section {
  display: flex;
  min-width: 400px;
  flex: 1;
}
.form__input {
  width: 100%;
  padding: 7px;
  margin: 6px 0;
  border: none;
  border-bottom: 5px solid rgb(56, 147, 250);
  background: transparent;
  color: rgb(22, 0, 0);
}
.form__input:focus {
  background: linear-gradient(to button, transparent, #333);
  outline: none;
  border-bottom: 3px solid rgb(0, 44, 44);
}
.form textarea {
  min-height: 140px;
  resize: none; /*evita que la caja se pueda modificar dejandolo estatico */
}
.form-img {
  flex: 1;
  display: flex;
  padding: 10px;
  min-width: 300px;
  max-width: 400px;
  order: 2;
}
.form-img div {
  padding: 10px;
}
.img-container {
  margin: auto;
}
.img-container div {
  background-color: #1c7;
  border-radius: 50%;
  text-align: center;
  padding: 40px;
}
.form-img img {
  max-width: 100%;
  height: auto;
}
.form input[type="submit"] {
  background-color: #1c7;
  border-bottom: 30%;
  padding: 10px;
}
.form input[type="submit"]:hover {
  background-color: rgb(99, 60, 110);
  border-bottom: 30%;
  padding: 10px;
}
.form input[type="submit"]:focus {
  background-color: rgb(28, 121, 65);
}
